/* Definindo o estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Definindo a fonte para a página */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo da página */
}

/* Estilo para o título principal (h1) */
h1 {
    text-align: center; /* Centralizando o título */
    color: #333; /* Cor do texto */
    padding: 20px 0; /* Padding para dar espaço em cima e embaixo */
}

/* Estilo para os parágrafos (p) */
p {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilo para a lista (ul) que contém os tópicos */
ul {
    list-style-type: none; /* Removendo os marcadores padrão da lista */
    padding: 0;
    text-align: center;
}

/* Estilo para os itens da lista (li) */
ul li {
    font-size: 20px; /* Definindo o tamanho da fonte para os itens da lista */
    color: #333;
    margin: 10px 0; /* Espaçamento entre os itens */
}

